.loader {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(var(--primaryColor)),
    color-stop(var(--secondaryColor)),
    color-stop(var(--secondaryColor)),
    to(var(--primaryColor))
  );
  background: -o-linear-gradient(
    right,
    var(--primaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    var(--primaryColor)
  );
  background: linear-gradient(
    -90deg,
    var(--primaryColor),
    var(--secondaryColor),
    var(--secondaryColor),
    var(--primaryColor)
  );
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
