.loader {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#ffffff),
    color-stop(#ececec),
    color-stop(#ececec),
    to(#ffffff)
  );
  background: -o-linear-gradient(right, #ffffff, #ececec, #ececec, #ffffff);
  background: linear-gradient(-90deg, #ffffff, #ececec, #ececec, #ffffff);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
